.titulo-row-b {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Cabin M', sans-serif;
  font-size: 22px;
  padding-left: 100px;
  padding-right: 100px;
}

.conte-pro{

  padding: 100px;
}

.info{
  padding-top: 50px;
  padding-left: 100px;
}

.example-card {
  width: 400px;
  height: 200px;
  word-wrap: break-word;
}

.icon {
  padding: 10px;
  font-size: 25px;
}

.table-conten{
  width: 100%;
padding: 50px;
text-align: center;

}

.li-error{
  text-align: center;
  padding: 50px;
  color: #FF0000;
}

.button-container {
  padding-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
